h1{
  text-align: left;
  font-family: $Rale;
  font-weight: bold;
  font-size: $xxx-large;
}


p{
  text-align: left;
  font-family: $Open;
  font-size: $large;
  font-weight: $light;
}

h2,h3,h4{
  text-align: center;
  font-family: $Rale;
  font-weight: bold;
}
