
// Tipografías//
$Rale: 'Raleway', sans-serif;
$Open: 'Open Sans', sans-serif;

//Font Weight
$italic: 700;
$light: 300;
$black: 400;

//Font Sizes
$xxxx-large: 50px;
$xxx-large: 45px;
$xx-large: 35px;
$x-large: 30px;
$large: 20px;
$medium: 16px;
$smarll: 12px;
$x-small: 12px;

// Colores//
$White: #FFF;
$Platinium: #E8E8E8;
$Gray: #BABABA;
$DarkSalmon: #EE9480;
$Melon: #F4BAAE;
$PalePink: #FADFDA;
$BaliBlue: #2AB7CA;
$MiddleBlue: #77D1DD;
$BlueLagoon:  #B1E4EB;
$Onyx: #333745;
$SpanishGray: #8F9199;
$LavanderGray: #C7C8CC;
$RaisingBlack: #221D23;
$Nickel: #726f73;
$SilverChalice: #AEACAF;
