
.forms{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  padding-left: 30%;
  padding-right: 30%;
}

.grafico{
  text-align: right;
}

@media screen and (max-width: 576px) {
  .forms, .header, .row, h2{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
