.header{
  height: 800px;
  background-image: url('../img/bg-hero.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 8rem 4rem;
  margin-bottom: 1rem;
}
