.navegador{
 display: inline-block;
 text-align: right;
 list-style: none;
 padding-top: 2%;
}

.navegador li, a{
  text-decoration: none;
  display: inline-block;
}

.button1{
  background-color: $White;
}
.button2{
  background-color: $BaliBlue;
  color: $White;
}

.col-sm-6 a{
  text-decoration: none;
  display: inline-block;
  color: $RaisingBlack;
}

.Caja1{
  height: 150px;
  weight: 150px;
  border: 2px solid red;
}
